@use '../index.scss' as *;

header {
    width: 100%;
    height: 140px;
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
}

header .pagination-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-family: "Fontzinha pika Medium", "san-serif", "Helvetica Neue";
}

header .pagination-container-txt {
    display: none;
}


header div div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid $Light-blue;
    margin: 5px;
    color: $White;
}

.active {
    color: #000000;
    background-color: $Light-blue;
}

@media screen and (min-width: 1000px) {
    header {
        width: 250px;
        height: 500px;
        background-image: url(../assets/images/bg-sidebar-desktop.svg);
        border-radius: 5px 0 0 5px;
        display: flex;
        flex-direction: row;
        text-align: start;
        align-items: flex-start;

    }

    header .pagination-container {
        width: 200px;
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        padding: 20px;
        font-family: "Fontzinha pika Medium", "san-serif", "Helvetica Neue";
        margin-top: 25px;
    }

    header .pagination-container-txt {
        width: 200px;
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        padding: 20px;
        font-family: "Fontzinha pika Medium", "san-serif", "Helvetica Neue";
        margin-top: 25px;
    }
    

    header div.step-div {
        display: flex;
        flex-direction: column;
        width: 100px;
        font-size: 12px;
        border: 0 solid transparent !important;
        text-align: start;
        margin-left: -60px;
    }

    header div.step-div p {
        margin: 0;
        font-family: "Fontzinha pika Medium", "san-serif", "Helvetica Neue";
    }
    header div.step-div p.step-pagination {
        font-size: 10px;
        color: $Light-gray;
        font-family: "Fontzinha pika Bold", "san-serif", "Helvetica Neue";
    }

    header div div {
        width: 32px;
        height: 32px;
        align-items: center;
        margin: 15px;
    }
}