@use '../index.scss' as *;

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;


    p {
        width: 80%;
    }

    a {
        color: aqua;
    }
}

#links { /* a div dos links dos css's */
    display: none;
  }

@media screen and (min-width: 1000px) {
    main {
        display: flex;

        div {
            margin-top: -50px;
        }
    }
}