@charset "UTF-8";
/**
 * * PRIMARY COLORS 
  */
/**
 * * NEUTRAL COLORS 
  */
/*
!ok, eu sei que a font n ta funcionando, era para ser .tff, mas percebi
!isso no final do projeto e na real a outra font ficou bem mais bonitinha
*/
@font-face {
  font-family: "Fontzinha pika";
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "Fontzinha pika Medium";
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "Fontzinha pika Bold";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}
#body, #html {
  width: 500px;
  font-size: 16px;
  font-family: "Fontzinha pika", "san-serif", "Helvetica Neue";
  background-color: hsl(217, 100%, 97%);
}

@media screen and (min-width: 500px) {
  #body, #html {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  #body, #html {
    width: 100%;
    height: 100%;
    display: grid;
  }
  .App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
  }
}
button.btn-plain {
  width: 90%;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 15px;
}
button.btn-plain.focus {
  background-color: hsl(231, 100%, 99%) !important;
  border-color: rgb(84, 15, 169) !important;
}
button.btn-plain img {
  margin-right: 20px;
}
button.btn-plain div {
  display: flex;
  flex-direction: column;
  text-align: start;
}
button.btn-plain div h4 {
  color: hsl(213, 96%, 18%);
  font-family: "Fontzinha pika Bold", "san-serif", "Helvetica Neue";
  margin: 0;
}
button.btn-plain div p {
  color: hsl(231, 11%, 63%);
  margin: 0;
}

div#switch-container {
  width: 90%;
  background-color: hsl(231, 100%, 99%);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 35px 15px 0;
}
div#switch-container span {
  padding: 5px 30px;
  color: hsl(231, 11%, 63%);
  font-family: "Fontzinha pika Medium", "san-serif", "Helvetica Neue";
  transition: color 0.2s ease-in-out;
}
div#switch-container button#switch-plain {
  height: 20px;
  width: 40px;
  border: 0;
  border-radius: 10px;
  background-color: hsl(213, 96%, 18%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  color: hsl(231, 100%, 99%);
  transition: justify-content 0.1s ease-in-out;
}
div#switch-container button#switch-plain div {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
}

.active-span-switch {
  color: hsl(213, 96%, 18%) !important;
}

.month-free {
  color: hsl(213, 96%, 18%) !important;
}

button.btn-goback {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 11%, 63%);
  font-size: 12px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -100px;
  width: 90px;
}
button.btn-goback:hover {
  background-color: #e6e6e6; /* nova função bem legal que eu n sabia q existia   */
  color: hsl(231, 11%, 63%);
}

@media screen and (min-width: 1000px) {
  main {
    width: 600px;
  }
  button.btn-plain {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 15px;
    justify-content: space-around;
  }
  button.btn-plain img {
    margin-right: 0;
  }
  button.btn-plain div {
    text-align: center;
  }
  form.form-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div#switch-container {
    width: 510px;
    margin-top: 0;
    padding: 5px;
  }
  button.btn-goback {
    margin: 15px !important;
  }
}

/*# sourceMappingURL=Form2.css.map */
